In [2]:
from talib.abstract import * 
import numpy as np
import pandas as pd


def Getdata(symbol: str,period:str):
    df = pd.read_json("user_data/data/binance/"+ symbol +"_USDT-"+ period +".json")
    df.columns = ['date', 'open', 'high', 'low', 'close', 'volume']
    df.date = pd.to_datetime(df.date, unit="ms")
    df.set_index("date", inplace=True)
    return df

def valores(df):
    df1=pd.DataFrame(SMA(df,10))
    df1['sma20'] = SMA(df,20)
    df1['sma30'] = SMA(df,30)
    df1['sma50'] = SMA(df,50)
    df1['sma100'] = SMA(df,100)
    df1['sma200'] = SMA(df,200)
    df1['ema10'] = EMA(df,10)
    df1['ema20'] = EMA(df,20)
    df1['ema30'] = EMA(df,30)
    df1['ema50'] = EMA(df,50)
    df1['ema100'] = EMA(df,100)
    df1['ema200'] = EMA(df,200)
    macd = MACD(df)
    df1 = pd.concat([df1,macd])
    return df1    

df = Getdata("ADA","15m")
df_values= valores(df)
df_values

                      0  sma20  sma30  ...      macd  macdsignal  macdhist
date                                   ...
2022-07-13 00:00:00 NaN    NaN    NaN  ...       NaN         NaN       NaN
2022-07-13 00:15:00 NaN    NaN    NaN  ...       NaN         NaN       NaN
2022-07-13 00:30:00 NaN    NaN    NaN  ...       NaN         NaN       NaN
2022-07-13 00:45:00 NaN    NaN    NaN  ...       NaN         NaN       NaN
2022-07-13 01:00:00 NaN    NaN    NaN  ...       NaN         NaN       NaN
...                  ..    ...    ...  ...       ...         ...       ...
2022-11-10 21:00:00 NaN    NaN    NaN  ...  0.001051    0.000868  0.000183
2022-11-10 21:15:00 NaN    NaN    NaN  ...  0.001290    0.000953  0.000338
2022-11-10 21:30:00 NaN    NaN    NaN  ...  0.001455    0.001053  0.000402
2022-11-10 21:45:00 NaN    NaN    NaN  ...  0.001568    0.001156  0.000412
2022-11-10 22:00:00 NaN    NaN    NaN  ...  0.001550    0.001235  0.000315

[23218 rows x 15 columns]